.vscode/
.DS_Store
__pycache__/
*-checkpoint.ipynb
.venv
*.egg*
build/*
_C.*
outputs/*
checkpoints/*.pt
demo/backend/checkpoints/*.pt
detections_yolox_x/
vis_results/
bbox_vis/
pose_vis/
results/
submit/
submit_results/
tmp_chunk/
score_distribution/
kf_vis/
mask_logs/
exp/
mask_plots/
